html {
    background-image: linear-gradient(black, #00b2b2);
    -webkit-font-smoothing: antialiased;
}

body {
    background: black;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 20px;
    font-size: 50px;
    color: aqua;
    text-shadow: 0 0 20px aqua;
}
h1:after{
    content: attr(data-text)
    position: relative;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: aqua;
    filter: blur(15px);
}
h1:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: aqua;
    z-index: -2;
    opacity: .3;
    filter: blur(30px);
}

h2, h3, h4, h5, h6 {
    color: aqua;
    font-weight: 600;
    line-height: 1.3;
    text-decoration: none;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
.button {
    color: lightslategrey;
    font-family: "proxima nova";
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: aqua;
    
    border: solid 2px lightslategrey;
    border-radius: 20px;
    padding: 10px 40px;
    
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    
}

.button:hover{
    background-color: #00b2b2;
    color: black;
}
.button1 {
    color: lightslategrey;
    font-family: "proxima nova";
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: aqua;
    
    width: 100px;
    margin-left: 300px;
    margin-right: 250px;
    
    border: solid 2px lightslategrey;
    border-radius: 20px;
    padding: 10px 40px;
    
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    
}

.button1:hover{
    background-color: #00b2b2;
    color: black;
}
.barHead{
  display: inline-block;
  border: 2px solid aqua;
  width: 100%;
}
.barHead::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    float: right;
}
nav ul{
margin: 0;
padding:0;
list-style: none;

}
nav li{
display: inline-block;
margin-left: 20px;
margin-right: 17px;
padding-top: 23px;

}
nav a {
color: aqua;
text-decoration: none;
text-transform: uppercase;
text-align: center;
font-size: 14px;

}
nav a:hover{
    color: darkgray;
}
nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: aqua;
    position: relative;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav a:hover::before{
    width: 100%;
}
